/* assets/css/styles.css */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    width: 250px;
    transition: left 0.3s ease;
    z-index: 1000;
    padding-top: 56px;
}

.sidebar.show {
    left: 0;
}

.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1050;
}

.all-form {
    margin-left: 40px;
    margin-right: 20px;
}

input[type="text"] {
    width: 300px;
}

.select-option {
    width: 300px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-group {
    width: 45%;
}

